.user-role{
    flex: 4;    
    margin-right: 15px;
}

.successMsg{
    background-color: green;
    color: white;
}

.errMsg{
    background-color: red;
    color: white;
}

.pageContent{
    padding-left: 15px;
    margin-right: 15px;
}